Repository gibahjoe/openapi-generator-dart, changes with the labels that .github/labeler.yml gives for each.
All labels: github actions, generator, annotations, cli, docs, workspace

.github/labeler.yml:

'github actions':
  - '.github/workflows/*'
generator:
  - 'openapi-generator/**/*'
annotations:
  - 'openapi-generator-annotations/**/*'
cli:
  - 'openapi-generator-cli/**/*'
docs:
  - 'README.md'
  - 'CHANGELOG.md'
  - 'LICENSE'
workspace:
    - 'melos.yaml'
    - 'pubspec.yaml'
    - 'release-please-config.json'

chore: updated release workflows
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr_title.yaml
  .github/workflows/release.yml
  .github/workflows/release_please.yml
  example/pubspec.yaml
  melos.yaml
  melos.yaml.schema.json
  release-please-config.json_
Labels: github actions, workspace

chore: updated release workflows
  release-please-config.json
Labels: workspace

chore: updated release workflows
  .github/workflows/code_quality.yml
  .release-please-manifest.json
  melos.yaml
  release-please-config.json
  scripts/combine_coverage.sh
Labels: github actions, workspace

chore: updated melos config
  .github/workflows/code_quality.yml
  example/pubspec.yaml
  example/test/widget_test.dart
  melos.yaml
  openapi-generator-cli/example/pubspec.yaml
  openapi-generator/pubspec.yaml
  openapi-generator/test/specs/dart_pubspec.test.yaml
  openapi-generator/test/specs/flutter_pubspec.test.yaml
  release-please-config.json
Labels: github actions, generator, cli, workspace

chore: release master
  .release-please-manifest.json
  openapi-generator-annotations/CHANGELOG.md
  openapi-generator-annotations/pubspec.yaml
  openapi-generator-cli/CHANGELOG.md
  openapi-generator-cli/pubspec.yaml
  openapi-generator/CHANGELOG.md
  openapi-generator/pubspec.yaml
Labels: generator, annotations, cli

chore: updated melos config
  .github/workflows/code_quality.yml
  release-please-config.json
Labels: github actions, workspace

chore: moved things around
  .github/workflows/code_quality.yml
  example/pubspec.yaml
  melos.yaml
Labels: github actions, workspace

chore: moved things around
  .release-please-manifest.json
Labels: none

chore: moved things around
  .release-please-manifest.json
  melos.yaml
  release-please-config.json
Labels: workspace

chore: fixed failing build
  .github/workflows/code_quality.yml
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
Labels: github actions

chore: fixed failing build
  example/android/app/build.gradle
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
Labels: none

fix: upgraded example app to 34
  example/android/app/build.gradle
  example/android/build.gradle
Labels: none

fix: fixed failing tests
  .github/workflows/code_quality.yml
  openapi-generator/test/builder_test.dart
  openapi-generator/test/specs/skip_update_annotated_file_test_config.dart
  openapi-generator/test/utils.dart
Labels: github actions, generator

fix: fixes some tests
  openapi-generator/example/example.dart
  openapi-generator/example/pubspec.yaml
  openapi-generator/pubspec.yaml
  openapi-generator/test/builder_test.dart
  openapi-generator/test/utils.dart
Labels: generator

fix: dart format
  openapi-generator/test/specs/dio_alt_properties_test_config.dart
  openapi-generator/test/specs/input_remote_properties_test_config.dart
Labels: generator

fix: fixed ci
  .github/workflows/code_quality.yml
  openapi-generator/.gitignore
  openapi-generator/docker-compose.yaml
Labels: github actions, generator

fix: dart format
  .github/workflows/code_quality.yml
Labels: github actions

fix: fixed coverage upload to codecov
  .github/workflows/code_quality.yml
Labels: github actions

chore: added doc
  .github/workflows/code_quality.yml
  docker-compose.yaml
  openapi-generator-annotations/example/example.dart
  openapi-generator/lib/src/models/generator_arguments.dart
  openapi-generator/lib/src/models/output_message.dart
  openapi-generator/lib/src/openapi_generator_runner.dart
  openapi-generator/test/output_message_test.dart
  openapi-generator/test/test_annotations/test_generator.dart
  openapi-generator/test/utils.dart
Labels: github actions, generator, annotations

fix: fixed ci
  .github/workflows/code_quality.yml
Labels: github actions

fix: ci
  .github/workflows/code_quality.yml
  example/android/app/src/main/AndroidManifest.xml
Labels: github actions

feat(cli): removed jar binary from library and made the jar downloadable by auto generated config
  example/lib/main.dart
  openapi-generator-cli/bin/main.dart
  openapi-generator-cli/test/openapi_generator_cli_test.dart
Labels: cli

feat(annotations): fixed issue with DioSerializationLibrary and updated tests
  openapi-generator-annotations/lib/src/openapi_generator_annotations_base.dart
  openapi-generator/test/generator_arguments_test.dart
  openapi-generator/test/specs/dio_alt_properties_test_config.dart
  openapi-generator/test/specs/dio_properties_test_config.dart
Labels: generator, annotations

chore: release master
  .release-please-manifest.json
  openapi-generator-annotations/CHANGELOG.md
  openapi-generator-annotations/pubspec.yaml
  openapi-generator-cli/CHANGELOG.md
  openapi-generator-cli/pubspec.yaml
  openapi-generator/CHANGELOG.md
  openapi-generator/pubspec.yaml
Labels: generator, annotations, cli
