Repository gibahjoe/openapi-generator-dart, pull requests merged in 2024-01, with the labels that each got.

#121 Removed deprecated OpenapiGeneratorConfig from README example
  README.md
Labels: docs

#119 Add AdditionalProperties enumUnknownDefaultCase
  openapi-generator-annotations/lib/src/openapi_generator_annotations_base.dart
Labels: annotations

#123 Revert "Refactor testing"
  .github/workflows/code_quality.yml
  example/pubspec.yaml
  openapi-generator-annotations/lib/src/openapi_generator_annotations_base.dart
  openapi-generator-annotations/pubspec.yaml
  openapi-generator-annotations/test/openapi_generator_annotations_test.dart
  openapi-generator/.gitignore
  openapi-generator/Makefile
  openapi-generator/docker-compose.yaml
  openapi-generator/lib/src/extensions/type_methods.dart
  openapi-generator/lib/src/gen_on_spec_changes.dart
  openapi-generator/lib/src/models/command.dart
  openapi-generator/lib/src/models/generator_arguments.dart
  openapi-generator/lib/src/openapi_generator_runner.dart
  openapi-generator/lib/src/utils.dart
  openapi-generator/pubspec.yaml
  openapi-generator/test/builder_test.dart
  openapi-generator/test/command_test.dart
  openapi-generator/test/generator_arguments_test.dart
  openapi-generator/test/generator_test.dart
  openapi-generator/test/mocks.dart
  openapi-generator/test/specs/buckets.sh
  openapi-generator/test/specs/next_gen_builder_flutter_test_config.dart
  openapi-generator/test/specs/next_gen_builder_flutterw_test_config.dart
  openapi-generator/test/specs/next_gen_builder_test_aws_config.dart
  openapi-generator/test/specs/next_gen_builder_test_config.dart
  openapi-generator/test/specs/next_gen_builder_test_invalid_config.dart
  openapi-generator/test/test_annotations/test_configs.dart
  openapi-generator/test/test_annotations/test_generator.dart
  openapi-generator/test/utils.dart
  openapi-generator/test/verify_generation_test.dart
Labels: generator, annotations, github actions

#125 chore: release master
  .release-please-manifest.json
  openapi-generator-annotations/CHANGELOG.md
  openapi-generator-annotations/pubspec.yaml
Labels: annotations, autorelease: pending

#126 fix: bumped generator verision
  .github/workflows/code_quality.yml
  openapi-generator/pubspec.yaml
Labels: generator, github actions
